# Dependencies
node_modules/

# Environment
.env

# Prisma
generated/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

#srs and dummy statement pdf
srs_statement/